<div class="container">
  <div class="block">
    <h1 class="title is-1">Welcome to owteam !</h1>
  </div>

  <div class="block" id="login">
    <div class="field">
      <form method="post" action="general">
        <label class="label">Your BattleTag</label>
        <input required class="input" placeholder="BattleTag#4242" type="text" name="userName">
        <label class="label">Your rank</label>
        <input required class="input" type="number" name="userRank">

        <input type="hidden" id="playedHeroes" name="playedHeroes">
        <div v-for="hero in heroes">
          <input type="checkbox" :id=hero :value=hero v-model="checkedHeroes">
          <label :for=hero>${hero}</label>
        </div>
        <input class="button is-primary" type="submit" id="submit" value="Submit" @click="validate">
      </form>
    </div>
  </div>
</div>

<script>
  /*var socket = io.connect('http://127.0.0.1:8080');
  socket.on('connect', function(data) {

  });*/

  new Vue({
    delimiters: ['${', '}'],
    el:'#login',

    data: {
      heroes: ["Ana", "Bastion", "Brigitte", "D.Va", "Doomfist", "Genji", "Hanzo", "Junkrat", "Lúcio", "McCree", "Mei", "Mercy", "Moira", "Pharah", "Roadhog", "Soldier 76", "Sombra", "Torbjörn", "Tracer", "Widowmaker", "Winston", "Zenyatta"],
      checkedHeroes: [],
      formattedSelectedHeroes: ""
    },

    methods: {
      validate: function(e){
        if(this.checkedHeroes.length == 0) {
          e.preventDefault();
        }
        else
          document.getElementById("playedHeroes").value = this.checkedHeroes.join(',');
      },
    }
  });
</script>
